/* BODY */
.first {
  background-color: #0061c9;
  font-size: 50px;
  width: 60%;
  align-items: center;
  justify-content: center;
}

#about {
  margin: 0 50px;
  padding-top: 0px;
  flex-direction: row;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 4px 0px #000000;
}

.navbar ul {
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 0px 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease 0s;
}

nav ul li a:hover {
  cursor: pointer;
  color: #0061c9;
}

h2 {
  font-size: 22px;
  padding: 10px;

}

#ppimg {

  transform: rotate(90deg);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  width: 222px;
  height: 222px;
  border-radius: 50%;
  box-shadow: 5px 11px 10px #00000066;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#about2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px auto;
  }

  /* CHANGES ALL HEADER ELEMENTS */
  h1, h2, h4 {
    text-align: center;
  }
/* CHANGES CONTACT TITLE DETAILS */
.contactme {
    /* border-bottom: 1px solid rgb(0, 0, 0) ; */
    padding-bottom: 20px;
    padding-top: 40px;
  }
/* CHANGES HTML-CSS-JAVA TITLE */
h3 {
  text-align: center;
  margin-bottom: 30px;
}

/* ADJUST MAIN SECTION OF CARDS AND ALIGNS THEM */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
/* ADJUST THE HOVER AFFECT ON THE CLICK HERE BUTTON ON CARDS */
.card2:hover {
  background-color: #0061c9;
}
/* ALIGNS THE CONTACT SECTION ELEMENTS */
#contact {
  text-align: center ;
  padding-top: 30px;
  box-shadow: 1px 1px 4px 1px #000000;
  font-size: 23px;
  padding-bottom: 30px;
}
/* CHANGES ABOUT ME BACKGROUND DETAILS */
.card {
  background-color: #e7e7e766;
  /* margin-bottom: 50px; */
  padding: 10px;
  text-align: center;
  margin: 0 auto 30px;
  max-width: fit-content;
  font-weight: bolder;
  font-size: 20px;
  /* padding-bottom: 50px; */
}
/* CHANGES CARDS BUTTONS DETAIL */
.card2 {
  display: flex;
  justify-content: center;
  background-color: #2fb4e966;
  padding: 10px;
  border: dotted;
  text-align: center;
  margin: 0 auto;
  max-width: 100px;
}
/* CLICK HERE BUTTON DETAILS */
.link {
  color: white;
}
/* DIMENSIONS OF PROFILE PIC */

/* CHANGES CARD BACK DETAILS  */
  #project {
    display: flex;
    margin-top: 20px;
    margin: 25px;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 10px 9px #00000066;
    width: 70%;
    height: 250px;
}

#project h2 {
  font-size: 30px;
  padding-bottom: 30px;
}

#project p {
  padding-bottom: 15px;
}

#project1 {
  margin-top: 20px;
  margin: 25px;
  text-align: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 2px 10px 9px #00000066;
  width: 300px;
  height: 150px;
}
/* CHANGES PARAGRAPH DETAILS */
p {
    text-align: center;
    padding-bottom: 5px;
}
/* CHANGES DETAILS OF FLARE UNDER NAV BAR */
  #flareimg {
    margin-top: 20px;
    width: 100%;
    height: 30px;
  }

  .under-header {
    background-color: #e7e7e766;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 50px auto;
  }

  .under-header h2 {
    margin-top: 40px;
  }

.under-header p {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 23px;
}

  .vector {
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 120px;
  }
  
  /* Responsive layout */
  @media screen and (max-width: 600px) {
    /* Adjust styles for smaller screens */
  }

  .rotate-image {
    /* display: flex;
    justify-content: center; */
    /* align-items: center;
    align-self: center; */
    /* justify-content: flex-start; */
    /* padding-bottom: 200px; */
    /* margin: 0 auto; */
    /* align-items: center; */
    /* justify-content: center; */
    /* border-radius: 50%;
    box-shadow: 5px 20px 9px #129cd266; */
  }